<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <strong>Fiber</strong>
        <p>With Fiber, you can setup your own personal portfolio in minutes with dozens of premade, beautiful temapltes.</p>
        <br />
        <p>Made with heart in the Netherlands.</p>
      </div>
      <div class="column">
        <strong>Sitemap</strong>
        <a href="#">Homepage</a>
        <a href="#">Pricing</a>
        <a href="#">Testimonials</a>
        <a href="#">Features</a>
      </div>
      <div class="column">
        <strong>Resources</strong>
        <a href="#">Support</a>
        <a href="#">Contact</a>
        <a href="#">FAQ</a>
      </div>
      <div class="column">
        <strong>Company</strong>
        <a href="#">About</a>
        <a href="#">Customers</a>
        <a href="#">Blog</a>
      </div>
      <div class="column">
        <strong>Portfolios</strong>
        <a href="#">Sarah Andrews</a>
        <a href="#">Mathew Higgins</a>
        <a href="#">Janice Dave</a>
      </div>
    </div>
  </div>
</footer>

<script src="../assets/js/main.js"></script>