<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.description }}" />
  {% seo %}
  <base href="{{ site.baseurl }}" />
  <!-- Link to external CSS files -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}assets/scss/main.css" />
  <!-- Set the base URL for all relative URLs within the document -->
</head>
