<section class="custom-hero">
  <div class="container">
    <div class="columns is-reverse-mobile">
      <div class="column is-7">
        <div class="custom-hero-body" style="padding-left:0; padding-right:0;">
          <div style="margin-bottom:6px;">
            <img src="../FiberStarterFiles/Assets/star.svg" alt="star" />
            <img src="../FiberStarterFiles/Assets/star.svg" alt="star" />
            <img src="../FiberStarterFiles/Assets/star.svg" alt="star" />
            <img src="../FiberStarterFiles/Assets/star.svg" alt="star" />
            <img src="../FiberStarterFiles/Assets/star.svg" alt="star" style="margin-right:8px;" /><span>Rated 4.8/5
              (243 reviews)</span>
          </div>
          <h1 class="title">Create your portfolio in minutes.</h1>
          <p class="lead">With Fiber, you can setup your own personal portfolio in minutes with dozens of premade,
            beautiful templates.</p>
            <br />
          <a class="button is-light purple-button" href="#"> Start Free Trial </a>
          <a class="button purple-link" href="#"> View Examples </a>
          <br />
          <div class="columns checkmark-container">
            <div class="column">
              <img src="../FiberStarterFiles/Assets/Checkmark.svg" alt="checkmark" class="checkmark" /><span>No Credit
                Card Required</span>
            </div>
            <div class="column">
              <img src="../FiberStarterFiles/Assets/Checkmark.svg" alt="checkmark" class="checkmark" /><span>10 Free
                Templates</span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-hero-illustration is-5">

      </div>
    </div>
</section>