<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"> <strong>Fiber</strong> </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" style="
    width: 100%;
    justify-content: center;
    
">
      <div class="navbar-center is-align-items-center is-align-self-center" style="width: 100%;
      text-align: center;">
        <a class="navbar-item" href="#"> Community </a>
        <a class="navbar-item" href="#"> Pricing </a>
        <a class="navbar-item" href="#"> Features </a>

        
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button dark-link" href="#">
              <strong>Sign In</strong>
            </a>
            <a class="button is-light purple-button" href="#"> Sign Up </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
