<section class="section2">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column" style="padding:30px;">
                <h2 style="color:#fff">Diversify your portfolio.</h2>
                <p>Create an even more impressive portfolio by creating case studies for your projects. Simply follow our step-by-step guide.</p>
                <br />
                <a class="button is-light white-button" href="#"> Start Free Trial </a>
            </div>
            <div class="column right-portfolio">

            </div>
        </div>
    </div>
</section>