<section class="section1">
    <div class="container">
        <h4>Why Fiber?</h4>
        <h2>A good portfolio means good employability.</h2>
        <div class="columns">
            <div class="column">
                <img src="../FiberStarterFiles/Assets/time.svg" alt="time icon" />
                <h5>Build in minutes</h5>
                <p>With a selection of premade templates, you can build out a portfolio in less than 10 minutes.</p>
            </div>
            <div class="column">
                <img src="../FiberStarterFiles/Assets/code.svg" alt="time icon" />
                <h5>Add custom CSS</h5>
                <p>Customize your personal portfolio even more with the ability to add your own custom CSS styles.</p>
            </div>
            <div class="column">
                <img src="../FiberStarterFiles/Assets/allSizes.svg" alt="time icon" />
                <h5>Responsive</h5>
                <p>All Fiber templates are fully responsive to ensure the experience us seemless across all devices.</p>
            </div>
        </div>
    </div>
</section>