body {
  footer.footer {
    background: #fbf8f3 !important;
    strong{
      display:block;
      margin-bottom:10px;
    }
    a{
      display:block;
      color: #4f4f4f;
      margin-bottom:10px !important;
    }
    a:hover{
      text-decoration: underline;
    }
    .column{
      padding:0 20px;
    }
  }
}
